body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ececec;
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 1px;
}

.container {
  width: 90vw;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  margin-top: 8rem;
  padding: 2rem;
  background-color: white;
}
.container2 {
  width: 90vw;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;
}

.list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.listitem {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #80808052;
}

.receipt-title {
  color: black;
  margin-bottom: 4rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.container-x-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.x_style {
  font-weight: bold;
  cursor: pointer;
}

.button-add {
  display: inline-block;
  background: black;
  color: white;
  border-color: transparent;
  margin-top: 2.5rem;
  letter-spacing: 1px;
  padding: 0.25rem 0.25rem;
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 0.5rem;
  width: 50px;
  font-weight: bold;
  margin-right: 1rem;
}

.amount {
  padding: 0.25rem 0.5rem;
  width: 3rem;
  border-radius: 5px;
  border: none;
  margin: 0 0.5rem;
  font-size: 1.25rem;
  text-align: center;
  background: #ececec;
}

.name {
  padding: 0.25rem 0.5rem;
  width: 3rem;
  border-radius: 5px;
  border: none;
  margin: 0 0.5rem;
  font-size: 1.25rem;
  text-align: center;
  background: #ececec;
}

.labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.label {
  padding: 10px;
  color: grey;
}

.form-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingPage {
  background-image: url("./images/homepage.png");
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.receiptButton {
  display: inline-block;
  background: black;
  color: white;
  border-color: transparent;
  padding: 0.45rem 0.45rem;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.checkallButton {
  display: inline-block;
  background: black;
  color: white;
  border-color: transparent;
  padding: 0.45rem 0.45rem;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  margin-top: 4rem;
}

.totalPrices {
  display: flex;
  justify-content: flex-end;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 12.3rem;
  margin-top: 4rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.receipts-page {
  text-align: center;
}

.receipt {
  margin-bottom: 2rem;
  background: white;
  padding: 2rem;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
